<div class="flex flex-col gap-3">
  <span for="date">Selecciona el dia de la cita:</span>
  <input name="date" type="date" class="rounded-lg bg-gray-100 border-gray-300" [value]="today" [min]="today"
    (change)="handleDateChange($event)">
  @if(appointmentsAvailable.length > 0){
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <span class="mr-2">Selecciona la hora de la cita:</span>
      <div class="flex flex-wrap">
        @for(appointment of appointmentsAvailable; track appointment){
        <button type="button" (click)="handleSelectedHourDate(appointment)" [ngClass]="{
    'bg-blue-600 text-white': dateHourAppointment === appointment,
    'bg-gray-100 text-gray-900 hover:bg-gray-200 transition': dateHourAppointment !== appointment
  }" class="border flex-1 border-gray-300 focus:border-none focus:outline-none focus:ring-2 focus:ring-blue-700 font-medium rounded-lg text-sm px-4 py-2.5 me-2 mb-2">
          {{ appointment }}
        </button>
        }
      </div>
    </div>
    <div class="flex flex-col">
      <span class="mb-2">Servicio selecionado:</span>
      <ul
        class="bg-gray-100 flex px-4 max-sm:px-2 justify-between max-sm:text-sm items-center border border-gray-300 rounded-md">
        <li class="inline-flex items-center gap-3 py-4 font-medium text-gray-800">
          @if(selectedServiceData.image){
          <img class="size-14 max-sm:size-10 rounded object-cover" src="{{selectedServiceData.image}}"
            alt={{selectedServiceData.title}}>
          }
          {{selectedServiceData.title}}
        </li>
        <li class="py-4">
          {{selectedServiceData.duration}} min
        </li>
        <li class="py-4">
          {{selectedServiceData.price | currency:'EUR'}}
        </li>
      </ul>
    </div>
    <div class="flex gap-3 justify-between">
      <div class="flex flex-col gap-2">
        <span class="max-sm:text-sm">Fecha: {{dateAppointment | date: 'dd/MM/yyyy'}}</span>
        <span class="max-sm:text-sm">Hora: {{getAppointmentRange() || "--:-- --:--"}}</span>
      </div>
      <div class="flex justify-end gap-2">
        <span class="max-sm:text-sm">Total:</span>
        <h3 class="text-3xl max-sm:text-xl m-0">{{selectedServiceData.price | currency:'EUR'}}</h3>
      </div>
    </div>
  </div>
  } @else {
  <span class="text-gray-800">No hay citas disponibles para ese día</span>
  }
</div>