<button type="button" (click)="handleActiveModal()" class="flex w-full text-gray-800 border-2 transition-all duration-300 hover:shadow-xl hover:-translate-y-1 flex-wrap gap-3 items-center justify-center flex-col p-10 h-full bg-slate-100 rounded-xl">
    <i class="fas fa-plus text-6xl"></i>
    <div class="flex items-start justify-between mb-3">
        <h3 class="text-xl font-semibold text-gray-800 group-hover:text-blue-600 transition-colors truncate">
            Añadir servicio
        </h3>
    </div>
</button>
<app-create-service (closeModal)="handleCloseModal()"></app-create-service>