<footer class="max-w-screen-lg mx-auto px-10 max-sm:px-5 pb-6 mt-10">
  <div class="bg-white rounded-xl py-3 px-5 shadow-md text-center gap-5 max-sm:gap-2 flex items-center justify-between flex-wrap">
    <span class="text-md font-semibold text-gray-800">© 2025 Bookly. Creado por Busid</span>
    <ul class="flex flex-wrap gap-x-4 items-center text-sm font-medium text-gray-800 sm:mt-0">
      <li>
        <a href="https://github.com/Busid1" target="_blank" class="hover:underline"><i
            class="fab fa-github text-lg"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/busid/" target="_blank" class="hover:underline"><i
            class="fab fa-linkedin text-lg"></i></a>
      </li>
      <li>
        <a href="https://busid.netlify.app/" target="_blank" class="hover:underline"><i
            class="fas fa-globe text-lg"></i></a>
      </li>
    </ul>
  </div>
</footer>