<div class="mb-2">
  <label for="time" class="block mb-2 text-sm font-medium text-gray-900">{{label}}</label>
  <div class="relative">
    <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
      <i class="fas fa-clock text-gray-400"></i>
    </div>
    <input type="time" id="time"
      class="border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-200 dark:border-gray-300 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      min="09:00" max="00:00" [value]="value" (change)="onTimeChange($event)" required />
  </div>
</div>