<div class="p-6 mt-20">
  <div class="max-w-screen-lg mx-auto flex flex-col gap-8">
    <div class="bg-white rounded-lg p-6 shadow-md">
      <h3 class="text-2xl font-bold text-gray-900 mb-4">Resumen de citas</h3>
      <table class="w-full text-sm text-left shadow-md">
        <thead class="text-xs uppercase bg-gray-200 text-gray-800">
          <tr>
            <th scope="col" class="px-6 py-3">Servicio</th>
            <th scope="col" class="px-6 py-3">Fecha</th>
            <th scope="col" class="px-6 py-3">Hora</th>
            <th scope="col" class="px-6 py-3">Precio</th>
          </tr>
        </thead>

        <tbody>
          @if(appointmentsData.length > 0){
          @for(appointment of appointmentsData; track appointment.id){
          <tr class="bg-gray-50 border-b last:border-b-0 hover:bg-gray-100 transition">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              {{ appointment.service.title }}
            </th>
            <td class="px-6 py-4">{{ appointment.date | date: 'dd/MM/yyyy'}}</td>
            <td class="px-6 py-4">
              {{ appointment.startTime }} - {{ appointment.endTime }}
            </td>
            <td class="px-6 py-4">
              {{ appointment.service.price | currency: "EUR" }}
            </td>
          </tr>
          }
          } @else {
          <tr>
            <td colspan="4" class="p-6 text-center text-gray-600 bg-white rounded-b-lg">
              <div class="text-lg">Todavía no hay citas</div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <app-calendar [appointments]="appointmentsData"></app-calendar>
  </div>
</div>