#appointmentCalendar {
  --fc-button-bg-color: #f3f4f6;
  --fc-button-border-color: #e5e7eb;
  --fc-button-text-color: #1f2937;
  --fc-button-active-bg-color: #d1d5db;
  --fc-button-hover-bg-color: #e5e7eb;
  --fc-button-hover-border-color: #e5e7eb;
  --fc-button-active-border-color: #d1d5db;
}