<nav class="bg-white shadow-sm fixed top-0 left-0 w-full z-50">
  <div class="max-w-screen-lg flex flex-wrap items-center justify-between mx-auto py-4 px-6">
    <a href="/" class="flex items-center space-x-2 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-900">Bookly</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-md text-gray-900 rounded-lg md:hidden focus:bg-gray-200 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-300"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <i class="fas fa-bars"></i>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col max-sm:py-3 md:p-0 mt-0">
        @if(handleIsAuthenticated()){
        <li class="flex items-center gap-5">
          @if(!isAdmin()){
          <a routerLink="/mis-citas">
        <li class="text-white bg-blue-600 hover:bg-blue-700 transition px-3 py-2 max-sm:text-sm text-md rounded-md">Ver
          mis
          citas</li>
        </a>
        }
        <a routerLink="/" (click)="logout()"
          class="block py-2 px-3 text-gray-900 rounded-md bg-gray-200 hover:bg-red-600 max-sm:text-sm text-md hover:text-white transition">Cerrar
          sesión</a>
        </li>
        } @else {
        <li class="flex items-center gap-5">
          <a routerLink="/auth/login"
            class="block py-2 px-3 text-gray-900 rounded-md hover:bg-gray-200 max-sm:text-sm text-md transition">Iniciar
            sesión</a>
          <a routerLink="/auth/register"
            class="block py-2 px-3 text-gray-900 rounded-md hover:bg-gray-200 max-sm:text-sm text-md transition">Registrarse</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
@if(isLoading){
<div class="fixed inset-0 bg-black/50 z-50 flex items-center justify-center">
  <div class="animate-spin rounded-full h-12 w-12 border-t-8 border-blue-500"></div>
</div>
}